
<app-menu>
  <div class="card add-produto">
    <h5 class="card-header">
      Adicionar/Atualizar Produtos
    </h5>
    <div class="card-body">
      <form
        id="add-form"
        (ngSubmit)="f.form.valid && saveProduto(f)"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="id">Id</label>
          <input
            type="number"
            [(ngModel)]="produto.id"
            id="id"
            name="id"
            #id="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && id.invalid }"
            placeholder="Digite o ID"
          />
          <div *ngIf="f.submitted && id.invalid" class="invalid-feedback">
            <div *ngIf="id.errors.required">ID é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            type="text"
            [(ngModel)]="produto.nome"
            id="nome"
            name="nome"
            #nome="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }"
            placeholder="Digite o nome"
          />
          <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
            <div *ngIf="nome.errors.required">Nome é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="preco_compra">Preço de Compra</label>
          <input
            type="number"
            [(ngModel)]="produto.preco_compra"
            id="preco_compra"
            name="preco_compra"
            #preco_compra="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && preco_compra.invalid }"
            placeholder="Digite o preço de compra"
          />
          <div
            *ngIf="f.submitted && preco_compra.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="preco_compra.errors.required">
              Preço de Compra é obrigatório
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="preco_venda">Preço de Venda</label>
          <input
            type="number"
            [(ngModel)]="produto.preco_venda"
            id="preco_venda"
            name="preco_venda"
            #preco_venda="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && preco_venda.invalid }"
            placeholder="Digite o preço de venda"
          />
          <div
            *ngIf="f.submitted && preco_venda.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="preco_venda.errors.required">
              Preço de Compra é obrigatório
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="quantidade">Quantidade Adquirida</label>
          <input
            type="number"
            [(ngModel)]="produto.quantidade"
            id="quantidade"
            name="quantidade"
            #quantidade="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && quantidade.invalid }"
            placeholder="Digite a quantidade"
          />
          <div
            *ngIf="f.submitted && quantidade.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="quantidade.errors.required">
              Quantidade é obrigatória
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="vendidos">Vendidos</label>
          <input
            type="number"
            [(ngModel)]="produto.vendidos"
            id="vendidos"
            name="vendidos"
            #vendidos="ngModel"
            required
            class="form-control"
            [ngClass]="{ 'is-invalid': f.submitted && vendidos.invalid }"
            placeholder="Digite o número de vendidos"
          />
          <div *ngIf="f.submitted && vendidos.invalid" class="invalid-feedback">
            <div *ngIf="vendidos.errors.required">Vendidos é obrigatório</div>
          </div>
        </div>
        <button type="submit" class="button button1">Salvar</button>
        <button type="reset" class="button button3" (click)="cleanForm(f)">
          Cancelar
        </button>
      </form>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-sm-6" *ngFor="let produto of produtos">
      <div class="card-box">
        <div class="card-corpo">
          <h4 class="card-title">{{ produto.nome }}</h4>

          <h6 class="card-subtitle1" *ngIf="produto.lucro > 0">
            <style>
              .card-subtitle1 {
                color: green;
              }
            </style>
            LUCRO = {{ produto.lucro }}
          </h6>
          <h6 class="card-subtitle2" *ngIf="produto.lucro == 0">
            LUCRO = {{ produto.lucro }}
          </h6>
          <h6 class="card-subtitle3" *ngIf="produto.lucro < 0">
            <style>
              .card-subtitle3 {
                color: red;
              }
            </style>
            LUCRO = {{ produto.lucro }}
          </h6>

          <div class="d-grip gap-2 d-md-block">
            <button
              type="button"
              class="button button1 btn-btnprimary"
              (click)="editProduto(produto)"
            >
              Editar
            </button>
            <button
              type="button"
              class="button button3 btn-btnprimary"
              (click)="deleteProduto(produto)"
            >
              Deletar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-menu>
